.phone-number .col-xs-3::after{
 content: "-";
 position:absolute;
    right: 5px;
    color: black;
    border: 0px solid;
    top: 5px;
}

.phone-number .col-xs-4{
	width:25%;
}

.phone-number .col-xs-3, .phone-number .col-xs-4{

	padding-left:0;
}